.chat-main
  .main-header
    .main-header__left-box
      =@group.name
      .main-header__users
        Members :
        - @group.users.each do |user|
          =user.name
    .main-header__edit-box
      = link_to 'Edit', edit_group_path(@group), class: 'main-header__edit-btn'
      -# %ul.main-header__left-box__member-list
      -#   %li.main-header__left-box__member-list__member  Member :
      -#   %li.main-header__left-box__member-list__member-name  伊藤
  .messages
    = render @messages
  
  .message-form
    =form_for([@group,@message], html:{class: "new-message"}) do |f|
      .input-wrapper
        = f.text_field :content, class: "input-wrapper__input-message", placeholder: "type a text"
        %label.input-wrapper__img-btn 
          = icon('fas','image')
          =f.file_field :image, class: "input-wrapper__img-btn__file"
      = f.submit :submit, class: "new-message__send-btn"    
 
  -# .form
  -#   .new-message
  -#     .input-box
  -#       %input.input-box__text{placeholder: "type a message", type: "text", value:""}
  -#       %label{class: "input-box__image"}
  -#         = icon('fas', 'image')
  -#         %input{type: "file", class:"input-box__image__file"}
  -#     %input{type:"submit",value:"Send",class: "message-create__btn__send"}